@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.frameHome{
    font-family: Poppins;
    background-color: #FFFFFF;
    
}


.subNavbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #000000;
    padding: 5px;
}

.subNavbar .shop-nav {
    width: 60%;
    text-align: end;
}

.subNavbar .lang {
    width: 20%;
}

.subNavbar .shop-nav p {
    font-weight: 400;
    font-size: 14px;
    color: #FAFAFA;

}

.subNavbar .shop-nav a {
    font-weight: 600;
    font-size: 14px;
    color: #FAFAFA;
    text-decoration-color: #FAFAFA;

}

.subNavbar .lang select {
    background: none;
    color: #FAFAFA;
    font-size: 14px;
    font-weight: 400;
    border: none;
}

.subNavbar .lang select option {
    background-color: black;
    color: #FAFAFA;
}

/* end subNavbar */

/* start Navbar */
.Navbar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: #FFFFFF;
    padding: 10px;
    box-shadow: 0px 4px 10px 0px #9c9c9c14;
    border-bottom: .5px solid #ccc;
}

.Navbar .logo {
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
}

.Navbar .links a {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    margin-right: 48px;
}

.Navbar .links .line {
    border-bottom: 1px solid #000000;
}

.Navbar .search {
    position: relative;
    display: inline-block;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 20px;

}

.Navbar .search input{
    width: 211px;
    height: 24px;
    margin-right: 10px;
    border-radius: 4px;
    padding: 7px 12px 7px 20px;
    border: 1px solid #ccc;
    background-color: #F5F5F5;
    margin-top: 10px;
}

.Navbar .search .icon-search {
    position: absolute;
    right: 50%;
    top: 33%;
}

/* end Navbar */


.container {
width: 100%;
height: 100vh;
 display: flex; 
justify-content: space-evenly; 
margin-bottom: 300px;
}

.container .left {
    width: 40%;
    margin-top: 50px;
}

.container .left .first-title {
    margin-bottom: 60px;
    display: flex;
    gap: 10px;
    color: #888;
    font-size: 14px;
}

.container .left .first-title span {
    cursor: pointer;
}


.container .left .first-title .last-1{
    color: black;
}

.container .left .form-1 h2 {
    font-size: 36px; 
    font-family: Inter;
    margin-bottom: 30px;
    font-weight: 400;
    text-transform: capitalize;
}

input , label {
    display: block;

}

label span {
    color: red;
}

label {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    color: #888;
    margin-bottom: 8px;
}

input {
    margin-bottom: 15px;
    padding: 8px;
    width: 470px;
    border: none;
    background-color: #f5f5f5f5;
    outline: none;
    height: 40px;
}

.check {
    display: flex;
    
}


.check input {
margin-top: 10px;
 margin-right: 10px;
}

.check span {
    margin-top: 8px;
    font-family: "Source Sans 3", sans-serif;
}

input[type="checkbox"] {
    height: 18px;
    width: 20px;
    background-color: #DB4444;
    accent-color: #DB4444;
    cursor: pointer;
}



/* -------------  right  ------------------------- */

.container .right {
    margin-top: 230px;
    width: 400px;
}

.container .right .top-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.container .right .top-1 div {
    display: flex;
    align-items: center;
}

.container .right .top-1 div img {
    width: 45px;
    height: 40px;
    margin-right: 15px;
}

.card-top {
    margin-bottom: 30px;
}

.card-mid div  {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 18px;
}

.card-mid .mid-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-mid .mid-2  div p  {
    font-family: "Source Sans 3", sans-serif;
}


.card-mid .mid-2 div input {
    width: 15px;
    height: 20px;
    margin-right: 15px;
    cursor: pointer;
}

.card-mid .mid-2 div label {
    color: black;
    font-family: "Source Sans 3", sans-serif;
}

input[type="radio"] {
    accent-color: black;
}
.card-mid .mid-2 .icons img  {
    height: 15px;
    width: 30px;
    margin-right: 10px;    

}

.card-mid .bottom {
    display: flex;
    justify-content: start;
    margin-top: -25px;
}

.card-mid .bottom label {
    font-family: "Source Sans 3", sans-serif;
    color: black;
}

.card-mid .bottom input  {
width: 15px;
height: 20px;
margin-right: 15px;
}


input[type="radio"] {
    accent-color: black;
}

.card-mid .coupon {
    margin-top: -1px;
}

.card-mid .coupon input {
  width: 230px;
  height: 50px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: transparent;
}

.card-mid .coupon button {
    width: 160px;
    height: 50px;
    background-color: #DB4444;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.card-mid button {
    width: 160px;
    height: 50px;
    background-color: #DB4444;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 14px; 
}



/* start footer sec */
footer {
    background-color: #000000;
    height: 440px;
}

footer .mainFooter {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 380px;

}

footer .footSec {
    width: 17%;
    color: #FAFAFA;
    height: 236px;


}

footer .footSec h4 {
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;

}

footer .footSec h5 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;

}

footer .footSec h6 {
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 20px;
}

footer .footSec p {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;

}

footer .search input {
    width: 160px;
    background-color: #000000;
}

footer .search .icon-search {
    right: 15%;
}

footer .mainFooter .foot-i {
    padding-right: 20px;
}

footer .footSec .subFootSec .foot-img {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

footer .copy {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    opacity: .3;
    text-align: center;
}

footer .search {
position: relative;
}

footer .search input {
    border: 2px solid #fff;
    width: 75%;
}

footer .search i {
position: absolute;
top: 30%;
left: 60%;
}
/* end footer sec */